<div>
    <a href="#/templates">Go Back</a>
    <br/><br/>
    <div class="col-md-4">
        <img class="img-full" src="img/blue.jpg"/>    
    </div>
    <div class="col-md-8">
        <h3>Blue Template</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit tortor est, in iaculis est scelerisque ut. Nulla consequat nibh pellentesque, pellentesque nisl id, sodales nisi. Nunc quis lacus fringilla eros iaculis mollis sit amet ut arcu. Aliquam ac velit eleifend.</p>
        <h4>$19.99</h4>
        BUY IT
    </div>
</div>